#!/bin/sh

# grabs video from usb webcam
# grabs audio from usb audio [USB AUDIO  CODEC, USB Audio]
#  call `arecord -L` for correct device name

gst-launch-1.0 \
  v4l2src device=/dev/video0 !\
    videoconvert ! \
    videorate ! \
    video/x-raw,format=I420,framerate=25/1,width=1920,height=1080 ! \
    mux. \
  \
 alsasrc device="hw:CARD=CODEC" ! \
    audio/x-raw,format=S16LE,channels=2,layout=interleaved,rate=48000 ! \
    mux. \
  \
  matroskamux name=mux ! \
    tcpclientsink host=localhost port={{ item.0 + 10000 }}

#  audiotestsrc freq=`cat /dev/urandom | tr -cd '2-4' | head -c 2`0 ! \
#    audio/x-raw,format=S16LE,channels=2,layout=interleaved,rate=48000 ! \
#    mux. \